<footer class="footer">
  <div class="container text-center">
    <a
      class="cc-linkedin btn btn-link"
      href="https://www.linkedin.com/in/mahdi-jafarkhani-09748291/"
      target="_blank"
    >
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a
      class="cc-github btn btn-link"
      href="https://github.com/m-jafarkhani"
      target="_blank"
    >
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <a
      class="cc-github btn btn-link"
      href="https://drive.google.com/file/d/1XWN7V3aAzhmkGUkvjdITvUj5WZ1fw-vP/view?usp=drive_link"
      target="_blank"
    >
      <i class="fa fa-google fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="text-center text-muted">
    <p>
      &copy; Template by
      <a href="https://github.com/mehulk05/Mehul.Kothari" target="_blank"
        >Mehul Kothari.</a
      >
      All rights reserved.
    </p>
  </div>
</footer>
