<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header stuttgart">
            <p>April 2023 - Present</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">M.Sc. in Computer Science</div>
            <h4 class="category">University of Stuttgart, Germany</h4>
            <ul>
              <li>
                <b>Study Profile:</b> Autonomous Systems in Computer Science
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header aut">
            <p>Sep 2008 - Jan 2014</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">BSc. in Software Engineering</div>
            <h4 class="category">Tehran Polytechnic, Iran</h4>
            <ul>
              <li>
                <b>GPA</b>: 15.39 out of 20 (Final two years: 16.43 out of 20)
              </li>
              <li>
                <b>Bachelor’s Thesis</b>:
                <i>“Using Aspect-Oriented Software Development to Improve the
                  Quality Attributes of Web-based Systems”</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
