<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>
    <pagination-controls
      (pageChange)="pageChanged($event)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
    <div class="row" [@projectSlider]="animationState">
      <ng-container *ngFor="let project of projects | paginate : config">
        <div
          class="col-md-4 col-sm-6 animate-box"
          data-animate-effect="fadeInLeft"
        >
          <div class="blog-entry">
            <div class="card">
              <div class="card-body" style="height: 400px;">
                <h4 class="card-title">{{ project.title }}</h4>
                <h5 class="card-text">
                  <b>Technology :</b> {{ project.tech }}
                </h5>
                <h5 class="card-text"><b>Year :</b> {{ project.year }}</h5>
                <h5 class="card-text">
                  <b>Description :</b>
                  <span class="justified-text">{{ project.desc }}</span>
                </h5>
                <div class="btn-container">
                  <a
                    href="{{ project.githubUrl }}"
                    class="btn btn-primary"
                    target="_blank"
                    >Github Link</a
                  >
                  <a *ngIf="project.reportUrl"
                    href="{{ project.reportUrl }}"
                    class="btn btn-primary"
                    target="_blank"
                    >Report</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <pagination-controls
      (pageChange)="pageChanged($event)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
